body{
    background-image: url(img/bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    
}
nav a{
    display: inline-block;
    margin-right: 10px;
    text-decoration: none;
    font-size: xx-large;
    color:white;
    border-color: aquamarine;
}
nav a:hover{
    background-color: #ddd;
    border-radius: 10px;
}
nav a:active{
    color:blue;
}
.navbar{
    text-align: center;
}
.welcome{
    padding-top: 5rem;
    text-align: center;
}
h1 span{
    -webkit-text-stroke: 1px white;
    color:transparent;
    font-size:6rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
h1 span:hover{
    color:white;
}
h1 span:has(~span:hover){
    color:white;
}
p{
    display: inline;
    color:whitesmoke;
    font-family:'Times New Roman', Times, serif;
}
.paragraph{
    float: right;
}