#navbar{
    overflow: hidden;
    margin-bottom: 10px;
  
  }
  body {
    padding-top: 80px; /* Adjust based on your navbar height */
}

  #nav-toggler{
    border: none;
    cursor:pointer;
    border-radius: 5px;
    transition: backgroung-color 0.3 ease;
  }
  ul a{
    text-decoration: none;
    margin-right:1rem;
    align-items: center;
    color:black;
    padding: 3px;
    transition: color 0.3s ease-in-out;
  }
  .nav__link {
    display: flex;
    align-items: center;
    color: black; 
    text-decoration: none;
    padding: 5px 10px;
    transition: color 0.3s ease, background-color 0.3s ease;
  }
  
  .nav__link:hover {
    color: #007bff; 
    background-color: rgba(0, 123, 255, 0.1); 
    border-radius: 5px; 
  }
  
  .nav__link:hover .nav__icon {
    color: #007bff; 
  }

  .button-2 {
    text-decoration: none;
    line-height: 1;
    border-radius: 1.5rem;
    overflow: hidden;
    position: relative;
    box-shadow: 10px 10px 20px rgba(0,0,0,.05);
    background-color: #fff;
    color: #121212;
    border: none;
    cursor: pointer;
  }
  
  .button-decor-2 {
    position: absolute;
    inset: 0;
    background-color: var(--clr);
    transform: translateX(-100%);
    transition: transform .3s;
    z-index: 0;
  }
  
  .button-content-2 {
    display: flex;
    align-items: center;
    font-weight: 600;
    position: relative;
    overflow: hidden;
  }
  
  .button__icon-2 {
    width: 48px;
    height: 40px;
    background-color: var(--clr);
    display: grid;
    place-items: center;
  }
  
  .button__text-2 {
    display: inline-block;
    transition: color .2s;
    padding: 2px 1.5rem 2px;
    padding-left: .75rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 150px;
  }
  
  .button-2:hover .button__text-2 {
    color: #fff;
  }
  
  .button-2:hover .button-decor-2 {
    transform: translate(0);
  }


  footer {
    background-color: #000000;
    padding: 20px 0;
    position: re;
    width: 100%;
    bottom: 0;
    color:white;
  }
  footer .container {
    max-width: 1170px;
    margin: auto;
  }
  footer .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  footer .col-md-4 {
    flex: 1;
    min-width: 250px;
    margin-bottom: 20px;
  }
  footer h5 {
    font-size: 18px;
    margin-bottom: 15px;
  }
  footer p, footer ul {
    font-size: 14px;
    margin-bottom: 10px;
  }
  footer ul {
    list-style-type: none;
    padding: 0;
  }
  footer ul li {
    margin-bottom: 5px;
  }
  footer ul li a {
    color: #ffffff;
    text-decoration: none;
  }
  footer ul li a:hover {
    text-decoration: underline;
  }
  